<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

        <rosparam file="$(find me5413_world)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find me5413_world)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        
        <rosparam file="$(find me5413_world)/params/map_nav_params/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find me5413_world)/params/map_nav_params/global_costmap_params.yaml" command="load" />
        
        <rosparam file="$(find me5413_world)/params/DWA_planner/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find me5413_world)/params/DWA_planner/move_base_params.yaml" command="load" />
        
        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="planner_frequency" value="1.0" />

        <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
        <param name="controller_frequency" value="5.0" />
        
        <remap from="odom" to="odometry/filtered" />
    </node>
    
    <node pkg="map_server" type="map_server" name="map_server" args="$(find me5413_world)/maps/my_map.yaml" />

    <include file="$(find me5413_world)/launch/include/amcl.launch" />

<!-- Launch Rviz with our settings -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find me5413_world)/rviz/navigation.rviz" output="log" respawn="true"/>

    <node ns="me5413_world" pkg="me5413_world" type="goal_publisher_node" name="goal_publisher_node" output="screen" />
</launch>